/* Outer Container CSS */

body{
  margin: 0px;
  background: #000000;
  width: 100%;
}

.parent{
  height: 100%;
  width: 100%;
}

/* Button CSS */

button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: 2px solid;

  font-size: 15px;
  background: #161616;
  color: #FFFFFF;

  cursor: pointer;
}

/* Form CSS */

*:focus {
    outline: none;
}

h2 {
  color: #ffffff;
}

.form-outer{
  text-align: center;
  height: 100%;
  width: 100%;
}

.add-book input {
  height: 40px !important;
  width: 70% !important;

  padding: 20px !important;

  margin-top: 10px;
  margin-right: 10px;

  font-size: 20px;
  color: #ffffff;

  border: none;
  border-radius: 20px;

  background-color: #161616;
}

#submit {
  border: none !important;


  height: 50px !important;
  width: 70% !important;

  margin-top: 20px;
  padding: 10px !important;
  cursor: pointer;
}

/* NavBar CSS */

.navbar {
  background: #000000;
  color: #ffffff;
  height: 80px;

  text-align: center;
  padding-top: 20px;
}

.header{
  font-size: 40px;
  font-family: serif;
}

/* Main Container CSS */

.maincontainer{
  background: #222222;
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Book Card CSS */
.bookcard{
  margin: 10px;
  height: 340px;
  width: 200px;
  padding: 10px;

  background: #161616;
}

.bookcard img{
  height: 80%;
  width: 100%;
}

.booktitle{
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}
